* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.card{
  padding: 20px;
}

.top-buffer { margin-top: 30px;}

.bot-buffer { margin-bottom: 200px;}



body {
  background-image: url("https://assets-global.website-files.com/5e39e095596498a8b9624af1/6279aad9a4206d4a46dcf770_WFU-thumbnail%20(CTA%20alert%20banner).jpg");
}

.big-text {
  font-weight: bolder;
}

header {
  background-image: url("https://img.freepik.com/free-vector/black-banner-with-yellow-geometric-shapes_1017-32327.jpg");
}

input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid black;
}

